<div class="menu-bar" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand mr-auto" href="#">
            <img src="/images/conversation_32px.png" width="32" height="32" alt="">
        </a>
        <div class="collapse navbar-collapse order-3 order-md-2" id="content">
            <ul class="navbar-nav w-100">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin">admin</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user">user</a>
                </li>
                <li class="nav-item active" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/register">register</a>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-row order-2 order-md-3">
            <ul class="navbar-nav flex-row m-1 my-auto">
                <li class="nav-item active"></li>
                    <a class="btn btn-primary" href="logout" sec:authorize="!isAnonymous()">Logout</a>
                </li>
                <li class="nav-item active"></li>
                    <a class="btn btn-primary" href="login" sec:authorize="isAnonymous()">Login</a>
                </li>
            </ul>
            <button class="navbar-toggler btn mx-1 my-auto" type="button" data-toggle="collapse" data-target="#content" aria-controls="content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>


    </nav>
</div>
